<html>
<% include ../partials/header %>

<body>
  <div class="addsound-section" id="addSoundSection">
    <h3 class="section-title">Add Sound</h3>
    <div class="page-content sounds">
      <center><h6>Select a Category</h6></center>
      <div class="input-group mb-3" id="soundSearch" style="display: inline-block">
        <center>
          <button class="btn btn-info" style="margin: 1vw" id="pplCategory" onclick="getSounds('people')">People</button>
          <button class="btn btn-info" style="margin: 1vw" id='animalCategory' onclick="getSounds('animals')">Animals</button>
          <button class="btn btn-info" style="margin: 1vw" id="birdsCategoryBtn" onclick="getSounds('birds')">Birds</button>
          <!-- <button class="btn btn-info" style="margin: 1vw" id="scifiCategoryBtn" onclick="getSounds('scifi')">Sci-Fi</button> -->
          <button class="btn btn-info" style="margin: 1vw" id="spookyCategoryBtn" onclick="getSounds('spooky')">Spooky</button>
          <button class="btn btn-info" style="margin: 1vw" id="funnyCategoryBtn" onclick="getSounds('funny')">Funny</button>
          <!-- <button class="btn btn-info" style="margin: 1vw" id="danceCategoryBtn" onclick="getSounds('dance')">Dance</button> -->
          <!-- <button class="btn btn-info" style="margin: 1vw" id="electronicCategoryBtn" onclick="getSounds('electronic')">Electronic</button> -->
          <button class="btn btn-info" style="margin: 1vw" id="randomCategoryBtn" onclick="getSounds('random')">Random</button>
        </center>
      </div>
      <div class="search-results" id="soundSearchResults">
        <!-- <h2> <%= sounds[0].url %> </h2> -->
        <!-- <div style="display: inline-block"> -->
            <div>
                <center><h4><strong>Category: <%= category%></strong></h4><br/>
                <div style="display: inline-block">
                <% for (var i = 0; i < 8; i++) { %>
                  <div style="display: inline-block">
                    <audio id="soundResult<%= i+1 %>" type="audio/wav" controls draggable="true" ondragstart="drag(event)" src=<%= sounds[i].url %>></audio>
                    <p><%= sounds[i].name %></p>
                  </div>
                <% } %>
              </div></center>
            </div>
      </div>
    </div>
    <div class="page-action">
      <button class="btn btn-secondary" id="backToAddGifBtn">Back</button>
      <button class="btn btn-info" id="refreshSoundsBtn">Refresh Sounds</button>
      <button class="btn btn-primary" id="goToReviewBtn">Create GIFovie</button>
    </div>
  </div>
  <% include ../partials/footer %>
</body>

</html>
